  
# See https://www.dartlang.org/guides/libraries/private-files

# Files and directories created by pub
.dart_tool/
.packages
.pub/
build/
pubspec.lock

# IntelliJ IDEA project
.idea
*.iml

# Test coverage
.test_coverage.dart
coverage_badge.svg
lcov.info
